@font-face {  
    font-family: "poppins-Bold";
    src: url("./Poppins-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {  
    font-family: "poppins-Medium";
    src: url("./Poppins-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}